.booking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-header {
  color: hsl(197, 85%, 46%);
  margin: 1rem 0;
  text-align: center;
}

#booking-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(95%, 35rem);
  padding: 1.5rem .75rem;
}

input,
select {
  font-size: 1rem;
  padding: .5rem 1rem;
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid lightgray;
  color: black;
}

input[type=submit] {
  background-color: hsl(197, 85%, 46%);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.booking-section p a {
  color: black;
  text-decoration: underline;
}

.order-service{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.order-service p,
.order-service p a {
  color: black;
  text-align: center;
  font-size: 1.2rem;
}

.order-service p a {
  text-decoration: underline;
}

.error-message{
  text-align: center;
}