.wrapper {
  width: min(100%, 120rem);
  margin-inline: auto;
}

header {
  background-color: var(--secondary-clr);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  padding-inline: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo>img {
  width: 3rem;
  border-radius: 100%;
  object-fit: contain;
}

.logo>span {
  text-transform: uppercase;
  font-size: .8rem;
}

.nav-menu {
  position: absolute;
  left: -100%;
  top: 4.375rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: var(--primary-clr);
  transition: 0.5s ease;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  padding: 1.4rem;
  transition: 1s ease;
  /* border-bottom: 1px solid var(--secondary-clr); */
}

.nav-item:hover {
  background-color: rgba(255, 0, 0, 0.487);
}

.nav-link {
  /* transition: 0.3s ease; */
  color: var(--secondary-clr);
  font-weight: 500;
}



.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5625rem;
  height: .1875rem;
  margin: .2125rem auto;
  background-color: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    background-color: var(--secondary-clr);
  }

  .nav-link {
    color: var(--primary-clr);
  }

  .nav-link:hover,
  .nav-link:active {
    opacity: 0.6;
  }
}


main {
  width: 100%;
}

.hero {
  background: url("/assets/hero2.jpg") no-repeat left/cover;
  height: 60svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem 0;
}

.hero>h1 {
  padding-inline: .75rem;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.hero>p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-inline: .75rem;
}

.company-name {
  font-size: 2.7rem;

}



.book-btn {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  font-size: 1.1rem;
  font-weight: bold;
  padding: .5em 1em;
  border: none;
  border-radius: .8rem;
  cursor: pointer;
}

.book-btn:hover {}