.services-section{
  margin-top: 3rem;
  padding-inline: .75rem;
}

.services-section > h2{
  text-align: center;
  margin-bottom: 1rem;
}

.service-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  place-content: center;
  gap: 2rem;
}

@media screen and (min-width: 60rem) {
  .service-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}


.service-card{
  background-color: var(--secondary-clr);
  padding: 1.5rem;
  min-height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  border-radius: .5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.295);
}

.image-card{
  background-color: #47AFDC;
  border-radius: 50%;
  width: fit-content;
  padding: .75rem;
}

.service-card a {
  width: fit-content;
  padding: .25em;
}

.learn-more{
  font-weight: bold;
}

.material-symbols-outlined{
  vertical-align: top;
}

/* .service-card:last-child{
  background: url("/assets/laundry3.jpg") no-repeat center/cover;
} */
